@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;700&family=Poppins:wght@300&family=Roboto:wght@400;700&display=swap');
*{
    font-family: 'Open sans', sans-serif;
}

body{
    background-color: rgb(42, 116, 165);
    color: aliceblue;
}
